$black: #000000;
$white: #ffffff;
$grey: #888888;

$dark: #111111;

$default: #F5F3F5;
$primary: #00A7E1;
$secondary: #151515;
$success: #55f699;
$danger: #FD0037;
$warning: #F9DC5C;

$default-dark: #C9BFC9;
$primary-dark: #0085B1;
$secondary-dark: #000000;
$success-dark: #23AB69;
$danger-dark: #C9002C;
$warning-dark: #F6CD14;

$default-light: #F9F7F9;
$primary-light: #3ACEFF;
$secondary-light: #5D5D5D;
$success-light: #70E2AB;
$danger-light: #FF4F75;
$warning-light: #FBE78F;